* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.77);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
}

select {
  width: 90%;
  max-width: 300px;
  padding: 10px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 100px;
}

.character-image {
  width: 90%;
  max-width: 400px;
  height: auto;
  margin: 20px;
}


@media (max-width: 400px) {
  select, .character-image {
    margin: 20px;
    margin-bottom: 100px;
    padding: 8px;
  }
}
