*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
 
    
select{
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}



.character-image{
    width: 300px;
    height: auto;
}